/* Définition des polices personnalisées */

@font-face {
    font-family: 'Raleway-Regular';
    src: url('../fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* GENERAL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway-Regular', sans-serif;
}

main,
.footer {
    max-width: 1170px;
    margin: auto;
}

main,
.central {
    margin-top: 20px;
}

header,
.head {
    margin: 20px 40px;
}

h1,
h2 {
    font-size: 1.2em;
    margin-bottom: 20px;
}

h3 {
    margin-top: 5px;
    font-size: 0.9em;
}

p {
    font-size: 0.75em;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #0065fc;
}

img {
    object-fit: cover;
}

i {
    color: #0065FC;
}

i.fa-star {
    font-size: 10px;
}

i.no-star {
    color: #ccc;
}

i.fa-info {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    padding-top: 2px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 50%;
}

/* VIGNETTES */

.vignettes {
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #999;
}

.vignettes span {
    font-weight: bold;
}

/* DETAILS */

.details {
    margin-left: 15px;
}

/* HEADER */

header,
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header {
    flex: 1;
}

/* NAVIGATION */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li {
    padding: 0 20px;
    line-height: 40px;
}

nav li a:hover,
nav li a:active {
    display: block;
    margin-top: -1px;
    color: #0065fc;
    border-top: 1px solid #0065fc;
}

ul {
    list-style-type: none;
}

/* REGISTER */

.register {
    display: flex;
    align-items: center;
}

.register a {
    font-weight: bold;
    color: #0065fc;
}

li.register:hover {
    margin-top: 0;
    border: none;
}

/* SEARCH */

label {
    display: block;
    line-height: 40px;
}

.recherche {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin-top: 20px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
}

i.fa-map-marker-alt {
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: #777;
    background: #eee;
    border-radius: 10px 0 0 10px;
}

i.fa-search {
    width: 40px;
    margin-left: -45px;
    color: #fff;
}

input {
    display: block;
    padding-left: 10px;
    font-weight: bold;
    border: none;
}

button {
    padding: 0 15px;
    line-height: 40px;
    font-weight: bold;
    color: #fff;
    background: #0065fc;
    border: none;
    border-radius: 0 10px 10px 0;
}

/* FILTERS */

.filtres {
    display: flex;
    flex-wrap: wrap;
    ;
    margin: 20px auto;
}

.filtres p {
    margin: 8px 20px 0 0;
    line-height: 50px;
    font-weight: bold;
}

.filtres i {
    height: 40px;
    width: 40px;
    margin-right: 20px;
    padding-top: 12px;
    text-align: center;
    background: #f2f2f2;
    border-radius: 50%
}

.filtres ul {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.filtres li {
    display: flex;
    align-items: center;
    margin: 10px;
    padding-right: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.filtres li:hover {
    background: #deebff;
}

/* CENTRAL */

.central {
    display: flex;
    justify-content: space-between;
}

/* HEBERGEMENTS */

#hebergements {
    max-width: 780px;
    border-radius: 10px;
    background: #f2f2f2;
    flex: 1;
}

#hebergements h2,
#hebergements p.plus {
    margin-top: 30px;
    margin-left: 30px;
}

.hebergements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.hebergements .vignettes {
    padding: 5px;
    background: #fff;
}

.hebergements img {
    height: 100%;
    width: 190px;
    max-height: 90px;
    border-radius: 10px 10px 0 0;
}

#hebergements p.plus {
    font-weight: bold;
}

/* POPULAIRES */

#populaires {
    width: 340px;
    border-radius: 10px;
    background: #f2f2f2;
}

#populaires h2 {
    display: inline-block;
    width: 80%;
    margin-top: 30px;
    margin-left: 30px;
}

#populaires i.fa-chart-line {
    color: black;
}

.populaires {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.populaires img {
    height: 110px;
    width: 100%;
    max-width: 100px;
    border-radius: 10px 0 0 10px;
}

.populaires .vignettes {
    max-width: 270px;
    padding: 5px;
    background: #fff;
}

.populaires .vignettes a {
    display: flex;
}

.populaires .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 15px;
}

/* ACTIVITES */

#activites {
    margin-top: 40px;
}

.activites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.activites h3 {
    margin-left: 15px;
    line-height: 3em;
}

.activites .double {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activites img {
    height: 100%;
    width: 240px;
    border-radius: 10px 10px 0 0;
}

.activites .large img {
    max-height: 320px;
}

.activites .medium1 img {
    max-height: 150px;
}

.activites .medium2 img {
    max-height: 126px;
}

.activites .small1 img {
    max-height: 90px;
}

.activites .small2 img {
    max-height: 114px;
}

/* FOOTER */

footer {
    margin-top: 40px;
    padding-top: 40px;
    background: #f2f2f2;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer h3 {
    margin-bottom: 15px;
}

footer ul {
    width: 340px;
    margin-bottom: 20px;
    list-style-type: none;
}

footer li {
    line-height: 2em;
}

/* ECRANS INFERIEURS A 1200PX ************************************************************************/

@media only screen and (max-width: 1200px) {
    header {
        justify-content: space-between;
    }

    .central {
        flex-wrap: wrap-reverse;
    }

    .hebergements,
    .populaires,
    .activites {
        justify-content: space-around;
    }

    #hebergements {
        max-width: 100%;
        background: #fff;
    }

    .hebergements img,
    .activites img {
        width: 395px;
    }

    #populaires {
        width: 100%;
        border-radius: 0;
    }

    .populaires {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #activites h2 {
        margin-left: 20px;
    }

    .footer {
        margin-left: 40px;
    }
}

/* ECRANS INFERIEURS A 992PX */

@media only screen and (max-width: 992px) {

    .hebergements img,
    .activites img {
        width: 320px;
    }


}

/* ECRANS INFERIEURS A 768PX */

@media only screen and (max-width: 768px) {

    .populaires {
        flex-direction: column;
    }

    .hebergements img,
    .activites img {
        width: 255px;
    }

}

/* ECRANS INFERIEURS A 600PX */

@media only screen and (max-width: 600px) {

    p {
        font-size: 0.85em;
    }

    header {
        margin-left: 0;
        margin-right: 0;
    }

    .logo {
        margin-left: 20px;
    }

    nav {
        width: 100%;
        margin: 40px 0;
    }

    nav ul {
        width: 100%;
    }

    nav li {
        flex: 1;
        padding: 0;
        text-align: center;
        border-bottom: 3px solid #f2f2f2;
    }

    nav li a:hover,
    nav li a:active {
        display: block;
        margin-top: 0px;
        margin-bottom: -3px;
        color: #0065fc;
        border-top: none;
        border-bottom: 3px solid #0065fc;
    }

    .register {
        position: absolute;
        top: 35px;
        right: 20px;
    }

    button {
        height: 40px;
        max-width: 40px;
        border-radius: 10px;
        overflow: hidden;
    }

    .recherche {
        margin-left: auto;
        margin-right: auto;
    }

    i.fa-search {
        margin-left: -15px;
    }

    .hebergements,
    .populaires,
    .activites {
        flex-direction: column;
        align-content: center;
    }

    .hebergements img,
    .activites img {
        height: 150px;
        width: 320px;
    }

    .activites .large img,
    .activites .medium1 img,
    .activites .medium2 img,
    .activites .small1 img,
    .activites .small2 img {
        max-height: 200px;
    }

}

/* ECRANS INFERIEURS A 480PX */

@media only screen and (max-width: 480px) {

    .recherche,
    footer ul {
        width: 260px;
    }

    .hebergements img,
    .activites img {
        width: 300px;
    }



}
